<html>
  <head>
    <title>{% block title %}SQLFormat - Online SQL Formatter{% endblock %}</title>
    <link rel="stylesheet" href="/static/pygments.css" />
    <link rel="stylesheet" href="/static/styles.css" />
    <link rel="shortcut icon" href="/static/favicon_cismet.ico" type="image/x-icon" >
    <link rel="icon" type="image/x-icon" href="/static/favicon_cismet.ico">
    <script src="http://www.google.com/jsapi"></script>
    <script>
      google.load("jquery", "1.2.6");
    </script>
    <script src="/static/script.js"></script>
  </head>
  <body>

    <div id="header">
      <div id="header-inner">
	{% if user %}<img src="{{userimg}}" border="0" align="right" style="padding-top:.4em;"/>{% endif %}
	<h1>
	  <a href="/">
	    <span class="q">S<span class="q2">Q</span>L</span>Format
	  </a>
	</h1>
	<div id="slogan">Online SQL formatting service</div>
	<div id="topmenu">
	  <a href="http://www.cismet.de/">cismet GmbH</a>
	</div>
      </div>
    </div>

    <div id="main">
      <div id="main-inner">
	{% block main %}MAIN CONTENT GOES HERE{% endblock %}
      </div>
    </div>

    <div id="footer">
      <div id="footer-inner">
	<div style="float: left; font-size: .85em;">
	  <div>cismet GmbH&nbsp;&nbsp;
	    <code>info@cismet.de</code>
	  </div>
	  <div>
           <a href="http://www.cismet.de/">cismet GmbH</a>
           |
           <a href="http://www.cismet.de/impressum.html">Impressum</a>
         </div>
	</div>
	<div class="clearfix"></div>
      </div>
    </div>

    <script type="text/javascript">
      var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
      document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
    </script>
    <script type="text/javascript">
      try {
      var pageTracker = _gat._getTracker("UA-3535525-2");
      pageTracker._trackPageview();
      } catch(err) {}</script>
    <script>init();</script>
	<script type="text/javascript" src="https://apis.google.com/js/plusone.js"></script>

  </body>
</html>
